---
import { Image } from 'astro:assets'
import imgVeterinaryApp from '../../../assets/imgVeterinaryApp.png';

import { Button, Collapse, Icon } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import ProjectSection from '@/components/projects/ProjectSection.astro'
import Sponsors from '@/components/projects/Sponsors.astro'
import Sponsorship from '@/components/projects/Sponsorship.astro'
import alipay from '@/assets/alipay-qrcode.jpg'
import KeyIcon from '@/assets/icons/key.svg'
import wechat from '@/assets/wechat-qrcode.jpg'
import config from '@/site-config'

const headings = [
  { depth: 2, slug: 'veterinary_app', text: '1. Veterinary App' },
  { depth: 3, slug: 'veterinary_app_key_features', text: 'Key features' },
  { depth: 3, slug: 'developed_by', text: 'Developed by' },
  // { depth: 2, slug: 'others', text: 'Others' },
  // { depth: 2, slug: 'gpg-signature', text: 'GPG Signature' },
  // { depth: 2, slug: 'sponsorship', text: 'Sponsorship' }
]
---

<PageLayout title='Projects' {headings} > <!-- info={{ slug: '/projects', hideComment: true }} -->
  <p>A sample of my most recent projects. Explore my work to see how I apply my web development skills to create functional and attractive solutions.</p>
  <!-- <p>Github Activities:</p>
  <p>
    <Image
      src='https://ghchart.rshah.org/659eb9/cworld1'
      alt='github activities'
      inferSize
      loading='lazy'
    />
  </p>
  <p>
    If you think it would be useful or interesting to collaborate on a project, you can donate to
    support my work or contact me to discuss a project.
  </p>
  <Button title='Checkout sponsorship' class='w-fit' href='#sponsorship'>
    <Icon class='size-5' name='receive-money' slot='before' />
  </Button>
  -->
  <!-- <h2 id='theme'>Theme</h2>
  <ProjectSection
    projects={[
      {
        name: 'ðŸ­ Astro-theme-pure',
        description: 'A simple, clean but powerful blog theme build by astro.',
        links: [
          { type: 'github', href: 'https://github.com/cworld1/astro-theme-pure' },
          { type: 'site', href: 'https://github.com/cworld1/astro-theme-pure' },
          {
            type: 'doc',
            href: 'https://github.com/cworld1/astro-theme-pure/blob/main/src/content/blog/customize/index.md'
          }
        ]
      }
    ]}
  />
  -->
  <!-- <h2 id='programs'>Programs</h2>
  <ProjectSection
    projects={[
      {
        name: 'ðŸ“’ Notie',
        description:
          'Android note App complies with Material You specifications, developed using Java',
        links: [
          { type: 'github', href: 'https://github.com/cworld1/notie' },
          {
            type: 'release',
            href: 'https://github.com/cworld1/notie/releases'
          }
        ]
      },
      {
        name: 'ðŸ’„ PKU Art',
        description: 'A script to beautify pku course website',
        links: [
          { type: 'github', href: 'https://github.com/zhuozhiyongde/pku-art' },
          { type: 'site', href: 'https://github.com/zhuozhiyongde/pku-art' },
          { type: 'doc', href: 'https://docs.arthals.ink/docs/pku-art' }
        ]
      }
    ]}
  />
  -->

  <!-- <Collapse title='Some old projects'>
    <ProjectSection
      projects={[
        {
          name: 'Search Switcher',
          description: 'Add links to each other in search engines',
          links: [{ type: 'github', href: 'https://github.com/cworld1/search-switcher' }]
        },
        {
          name: 'Pure Baidu',
          description: 'Baidu search page beautification module',
          links: [
            { type: 'doc', href: 'https://cworld0.com/blog/pure-baidu' },
            { type: 'site', href: 'https://userstyles.org/styles/173673/pure' }
          ]
        }
      ]}
    />
  </Collapse>
  -->

  <!-- <h2 id='learnings'>Learnings</h2>
  <ProjectSection
    class='my-2'
    projects={[
      {
        name: 'Rust Learning',
        description: 'Some notes and code about CWorld learning Rust',
        links: [{ type: 'github', href: 'https://github.com/cworld1/rust-learning' }]
      },
      {
        name: 'CS 213 Learning',
        description: 'Notes, code and experiences for Introduction to Computer Systems course',
        links: [
          {
            type: 'github',
            href: 'https://github.com/zhuozhiyongde/Introduction-To-Computer-System-2023Fall-PKU'
          }
        ]
      }
    ]}
  />
  -->

  <!-- <h2 id='others'>Others</h2>
  <ProjectSection
    projects={[
      {
        name: 'CWorld',
        description: "CWorld's Github",
        links: [{ type: 'github', href: 'https://github.com/cworld1' }]
      },
      {
        name: 'Arthals',
        description: 'Arthals Github',
        links: [{ type: 'github', href: 'https://github.com/zhuozhiyongde' }]
      }
    ]}
  />
  -->

  <!-- gpg signature -->
  <h2 id='veterinary_app'>1. Veterinary App</h2>
  <p>
    Web application for managing a veterinary clinic, developed with Laravel 11.
  </p>
  <p>
    It includes features such as role and permission management, users, pet species, positions, vaccinations, clients, pets, veterinarians, consultations, appointments, event calendar, inventory, and sales module. Ideal for automating and centralizing the operations of a veterinary clinic. 
    <!-- <code>114514</code> -->
  </p>
  <!-- <Button href='https://keys.openpgp.org/search?q=114514' title='Checkout my key' target='_blank'>
    <KeyIcon class='size-5' slot='before' />
  </Button> -->
  <p>
    <img src={imgVeterinaryApp.src} alt="Veterinary App" />
  </p>
  <p>
    <img src="/src/assets/imgVeterinaryAppDark.png" alt="">
  </p>
  <p>
    <img src="/src/assets/imgVeterinaryAppClients.png" alt="">
  </p>
  <p>
    <img src="/src/assets/imgVeterinaryAppClientsDark.png" alt="">
  </p>
  <p>
    <img src="/src/assets/imgVeterinaryAppPets.png" alt="">
  </p>
  <p>
    <img src="/src/assets/imgVeterinaryAppPetsDark.png" alt="">
  </p>
  <p>
    <img src="/src/assets/imgVeterinaryAppProducts.png" alt="">
  </p>
  <p>
    <img src="/src/assets/imgVeterinaryAppProductsDark.png" alt="">
  </p>
  <p>
    <img src="/src/assets/imgVeterinaryAppMovements.png" alt="">
  </p>
  <p>
    <img src="/src/assets/imgVeterinaryAppMovementsDark.png" alt="">
  </p>
  <p>
    <img src="/src/assets/imgVeterinaryAppSales.png" alt="">
  </p>
  <p>
    <img src="/src/assets/imgVeterinaryAppSalesDark.png" alt="">
  </p>

  <h3 id='veterinary_app_key_features'>Key features</h3>
  <ul>
    <li>
      <span class="subtitle">Dashboard:</span> key system statistics (clients, pets, consultations, appointments, etc.) with dynamic graphs.
    </li>
    <li>
      <span class="subtitle">Role and permission system:</span> detailed access control for different types of users.
    </li>
    <li>
      <span class="subtitle">User management:</span> system account administration.
    </li>
    <li>
      <span class="subtitle">Positions:</span> definition of internal roles such as veterinarians, assistants, administrators, etc.
    </li>
    <li>
      <span class="subtitle">Veterinarians:</span> registration and control of medical staff.
    </li>
    <li>
      <span class="subtitle">Species:</span> classification of pets by species (dogs, cats, rabbits, etc.).
    </li>
    <li>
      <span class="subtitle">Vaccines:</span> registration and administration of vaccines available for pets, including general information and individual follow-up.
    </li>
    <li>
      <span class="subtitle">Clients:</span> administration of pet owners.
    </li>
    <li>
      <span class="subtitle">Pets:</span> medical and general information for each pet.
    </li>
    <li>
      <span class="subtitle">Veterinary consultations:</span> medical history, symptoms, diagnoses, and treatments.
    </li>
    <li>
      <span class="subtitle">Events and calendar:</span> scheduled veterinary appointments with a calendar view.
    </li>
    <li>
      <span class="subtitle">Complete inventory:</span> product categories, warehouses, stock and movements, suppliers.
    </li>
    <li>
      <span class="subtitle">Sales:</span> registration and management of invoices for each product sold to a customer.
    </li>
  </ul>
  <!-- sponsorship -->
  <!-- <h2 id='sponsorship'>Sponsorship</h2>
  <p>Please leave a message or contact me proactively after sponsorship.</p>
  <Sponsorship
    methods={[
      { name: 'WeChat', icon: 'wechat-pay', image: wechat },
      { name: 'Alipay', icon: 'alipay', image: alipay }
    ]}
  />
  <p>Thanks to the following sponsors:</p>
  <Sponsors
    sponsors={[
      { name: 'C*aï¼ˆé…·å®‰@æš´èµ°ã®èœ—ç‰›ï¼‰', amount: '2.00', date: '2019-07-02' },
      { name: 'åŽé›„(QQï¼š1300****71)', amount: '5.00', date: '2019-12-30' },
      { name: 'â—Œ(QQï¼š1934****45)', amount: '3.00', date: '2019-12-30' },
      { name: 'Anonymous', amount: '20.00', date: '2022-04-06' }
    ]}
  />
  -->
  <h3 id='developed_by'>Developed by</h3>
  <p class="flex items-center">
    <a href="https://github.com/d-rodas" target="_blank">@d-rodas.</a>
  </p>
</PageLayout>

<script
  is:inline
  type='module'
  data-astro-rerun
  define:vars={{ npmCDN: config.npmCDN, walineServer: config.integ.waline.server }}
>
  const loadPageviewCount = async () => {
    const pageview = await import(`${npmCDN}/@waline/client@v3/dist/pageview.js`)
    pageview.pageviewCount({
      serverURL: walineServer,
      path: window.location.pathname
    })
  }

  await loadPageviewCount()
</script>

<style>
  span.subtitle {
    font-weight: 700;
  }

  .sponsorship-card {
    & .sponsorship-card-img {
      opacity: 0.3;
      --un-blur: blur(4px);
      filter: var(--un-blur);
    }

    &:hover {
      & .sponsorship-card-icon {
        opacity: 0;
      }
      & .sponsorship-card-img {
        opacity: 1;
        --un-blur: blur(0);
      }
    }
  }
</style>
