---
import { Image } from 'astro:assets'
import imgVeterinaryAppMain from '../../assets/imgVeterinaryAppMain.png';
// import imgVeterinaryAppDark from '../../assets/imgVeterinaryAppDark.png';
// import imgVeterinaryAppClients from '../../assets/imgVeterinaryAppClients.png';
// import imgVeterinaryAppClientsDark from '../../assets/imgVeterinaryAppClientsDark.png';
// import imgVeterinaryAppPets from '../../assets/imgVeterinaryAppPets.png';
// import imgVeterinaryAppPetsDark from '../../assets/imgVeterinaryAppPetsDark.png';
// import imgVeterinaryAppProducts from '../../assets/imgVeterinaryAppProducts.png';
// import imgVeterinaryAppProductsDark from '../../assets/imgVeterinaryAppProductsDark.png';
// import imgVeterinaryAppMovements from '../../assets/imgVeterinaryAppMovements.png';
// import imgVeterinaryAppMovementsDark from '../../assets/imgVeterinaryAppMovementsDark.png';
// import imgVeterinaryAppSales from '../../assets/imgVeterinaryAppSales.png';
// import imgVeterinaryAppSalesDark from '../../assets/imgVeterinaryAppSalesDark.png';

import { Button, Collapse, Icon } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import ProjectSection from '@/components/projects/ProjectSection.astro'
import Sponsors from '@/components/projects/Sponsors.astro'
import Sponsorship from '@/components/projects/Sponsorship.astro'
import alipay from '@/assets/alipay-qrcode.jpg'
import KeyIcon from '@/assets/icons/key.svg'
import wechat from '@/assets/wechat-qrcode.jpg'
import config from '@/site-config'
import { Aside } from 'astro-pure/user'

const headings = [
  { depth: 2, slug: 'veterinary_app', text: '1. Veterinary App' },
  { depth: 3, slug: 'veterinary_app_key_features', text: 'Key features' },
  { depth: 3, slug: 'developed_by', text: 'Developed by' },
  // { depth: 2, slug: 'others', text: 'Others' },
  // { depth: 2, slug: 'gpg-signature', text: 'GPG Signature' },
  // { depth: 2, slug: 'sponsorship', text: 'Sponsorship' }
]
---

<PageLayout title='Proyectos' {headings} > <!-- info={{ slug: '/projects', hideComment: true }} -->
  <p>Una muestra de mis proyectos más recientes.</p>
  <!-- <p>Github Activities:</p>
  <p>
    <Image
      src='https://ghchart.rshah.org/659eb9/cworld1'
      alt='github activities'
      inferSize
      loading='lazy'
    />
  </p>
  <p>
    If you think it would be useful or interesting to collaborate on a project, you can donate to
    support my work or contact me to discuss a project.
  </p>
  <Button title='Checkout sponsorship' class='w-fit' href='#sponsorship'>
    <Icon class='size-5' name='receive-money' slot='before' />
  </Button>
  -->
  <!-- <h2 id='theme'>Theme</h2>
  <ProjectSection
    projects={[
      {
        name: '🍭 Astro-theme-pure',
        description: 'A simple, clean but powerful blog theme build by astro.',
        links: [
          { type: 'github', href: 'https://github.com/cworld1/astro-theme-pure' },
          { type: 'site', href: 'https://github.com/cworld1/astro-theme-pure' },
          {
            type: 'doc',
            href: 'https://github.com/cworld1/astro-theme-pure/blob/main/src/content/blog/customize/index.md'
          }
        ]
      }
    ]}
  />
  -->
  <!-- <h2 id='programs'>Programs</h2>
  <ProjectSection
    projects={[
      {
        name: '📒 Notie',
        description:
          'Android note App complies with Material You specifications, developed using Java',
        links: [
          { type: 'github', href: 'https://github.com/cworld1/notie' },
          {
            type: 'release',
            href: 'https://github.com/cworld1/notie/releases'
          }
        ]
      },
      {
        name: '💄 PKU Art',
        description: 'A script to beautify pku course website',
        links: [
          { type: 'github', href: 'https://github.com/zhuozhiyongde/pku-art' },
          { type: 'site', href: 'https://github.com/zhuozhiyongde/pku-art' },
          { type: 'doc', href: 'https://docs.arthals.ink/docs/pku-art' }
        ]
      }
    ]}
  />
  -->

  <!-- <Collapse title='Some old projects'>
    <ProjectSection
      projects={[
        {
          name: 'Search Switcher',
          description: 'Add links to each other in search engines',
          links: [{ type: 'github', href: 'https://github.com/cworld1/search-switcher' }]
        },
        {
          name: 'Pure Baidu',
          description: 'Baidu search page beautification module',
          links: [
            { type: 'doc', href: 'https://cworld0.com/blog/pure-baidu' },
            { type: 'site', href: 'https://userstyles.org/styles/173673/pure' }
          ]
        }
      ]}
    />
  </Collapse>
  -->

  <!-- <h2 id='learnings'>Learnings</h2>
  <ProjectSection
    class='my-2'
    projects={[
      {
        name: 'Rust Learning',
        description: 'Some notes and code about CWorld learning Rust',
        links: [{ type: 'github', href: 'https://github.com/cworld1/rust-learning' }]
      },
      {
        name: 'CS 213 Learning',
        description: 'Notes, code and experiences for Introduction to Computer Systems course',
        links: [
          {
            type: 'github',
            href: 'https://github.com/zhuozhiyongde/Introduction-To-Computer-System-2023Fall-PKU'
          }
        ]
      }
    ]}
  />
  -->

  <!-- <h2 id='others'>Others</h2>
  <ProjectSection
    projects={[
      {
        name: 'CWorld',
        description: "CWorld's Github",
        links: [{ type: 'github', href: 'https://github.com/cworld1' }]
      },
      {
        name: 'Arthals',
        description: 'Arthals Github',
        links: [{ type: 'github', href: 'https://github.com/zhuozhiyongde' }]
      }
    ]}
  />
  -->

  <!-- gpg signature -->
  <h2 id='veterinary_app'>1. Aplicación web para la gestión de clínicas veterinarias</h2>
  <Aside>Esta aplicación se encuentra actualmente en desarrollo. Se están mejorando sus funciones y su diseño.</Aside>  
  <p>
    Desarrollada con Laravel 11, esta aplicación web está diseñada para optimizar y centralizar las operaciones de una clínica veterinaria. Ofrece un conjunto completo de funciones para gestionar el personal médico, los clientes, las mascotas, los servicios y el inventario, todo ello dentro de una interfaz intuitiva y fácil de usar.
    <!-- <code>114514</code> -->
  </p>
  <!-- <Button href='https://keys.openpgp.org/search?q=114514' title='Checkout my key' target='_blank'>
    <KeyIcon class='size-5' slot='before' />
  </Button> -->
  <p>
    <img src={imgVeterinaryAppMain.src} alt="Veterinary App" />
  </p>

  <h3 id='veterinary_app_key_features'>Características</h3>
  <ul>
    <li>
      <span class="subtitle">Panel administrativo:</span> visualice estadísticas clave del sistema, incluyendo clientes, mascotas, consultas veterinarias y citas, con gráficos y tablas dinámicos.
    </li>
    <li>
      <span class="subtitle">Roles y permisos:</span>  implemente un control de acceso granular para diferentes tipos de usuarios, lo que garantiza una administración del sistema segura y organizada.
    </li>
    <li>
      <span class="subtitle">Usuarios:</span> gestione las cuentas del sistema de forma eficiente, incluyendo la creación, modificación y asignación de roles.
    </li>
    <li>
      <span class="subtitle">Puestos de empleados:</span> defina roles internos como veterinarios, asistentes y administradores.
    </li>
    <li>
      <span class="subtitle">Personal médico: </span> registre y supervise al personal médico, realizando un seguimiento de sus actividades y responsabilidades.
    </li>
    <li>
      <span class="subtitle">Especies de mascotas:</span> clasificación de mascotas por especie.
    </li>
    <li>
      <span class="subtitle">Seguimiento de vacunas: </span> registre y administre vacunas. Realice un seguimiento de la información general y mantenga un seguimiento individual de las vacunas aplicadas a cada mascota.
    </li>
    <li>
      <span class="subtitle">Servicios:</span> Organice y gestione los servicios que ofrece la clínica.
    </li>
    <li>
      <span class="subtitle">Clientes:</span> Mantenga registros detallados de los dueños de las mascotas.
    </li>
    <li>
      <span class="subtitle">Mascotas:</span> mantenga información médica y general completa de cada mascota.
    </li>
    <li>
      <span class="subtitle">Consultas veterinarias:</span> documente el historial médico, los síntomas, los diagnósticos y los tratamientos de las mascotas.
    </li>
    <li>
      <span class="subtitle">Eventos y calendario:</span>  programe citas y visualícelas en formato de calendario para facilitar la planificación.
    </li>
    <li>
      <span class="subtitle">Inventario:</span> realice un seguimiento de las categorías, los productos, los almacenes, los niveles de existencias, los movimientos de inventario y los proveedores.
    </li>
    <li>
      <span class="subtitle">Ventas:</span> registre y gestione las facturas de los productos vendidos a los clientes.
    </li>
    <li>
      <span class="subtitle">Soporte multilingüe:</span> disponible en inglés y español. Elija su idioma preferido para utilizar la aplicación.
    </li>
    <li>
      <span class="subtitle">Modo oscuro: </span> alterne entre temas claros y oscuros para una experiencia de usuario óptima.
    </li>
  </ul>
  <p>
    Esta aplicación es ideal para clínicas veterinarias que buscan automatizar sus procesos, mejorar la eficiencia y centralizar todas las operaciones en una única plataforma moderna.
  </p>
  <!-- sponsorship -->
  <!-- <h2 id='sponsorship'>Sponsorship</h2>
  <p>Please leave a message or contact me proactively after sponsorship.</p>
  <Sponsorship
    methods={[
      { name: 'WeChat', icon: 'wechat-pay', image: wechat },
      { name: 'Alipay', icon: 'alipay', image: alipay }
    ]}
  />
  <p>Thanks to the following sponsors:</p>
  <Sponsors
    sponsors={[
      { name: 'C*a（酷安@暴走の蜗牛）', amount: '2.00', date: '2019-07-02' },
      { name: '华雄(QQ：1300****71)', amount: '5.00', date: '2019-12-30' },
      { name: '◌(QQ：1934****45)', amount: '3.00', date: '2019-12-30' },
      { name: 'Anonymous', amount: '20.00', date: '2022-04-06' }
    ]}
  />
  -->
  <h3 id='developed_by'>Desarrollado por:</h3>
  <p class="flex items-center">
    <a href="https://github.com/d-rodas" target="_blank">d-rodas.</a>
  </p>
</PageLayout>

<script
  is:inline
  type='module'
  data-astro-rerun
  define:vars={{ npmCDN: config.npmCDN, walineServer: config.integ.waline.server }}
>
  const loadPageviewCount = async () => {
    const pageview = await import(`${npmCDN}/@waline/client@v3/dist/pageview.js`)
    pageview.pageviewCount({
      serverURL: walineServer,
      path: window.location.pathname
    })
  }

  await loadPageviewCount()
</script>

<style>
  span.subtitle {
    font-weight: 700;
  }

  .sponsorship-card {
    & .sponsorship-card-img {
      opacity: 0.3;
      --un-blur: blur(4px);
      filter: var(--un-blur);
    }

    &:hover {
      & .sponsorship-card-icon {
        opacity: 0;
      }
      & .sponsorship-card-img {
        opacity: 1;
        --un-blur: blur(0);
      }
    }
  }
</style>
